h1{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

body {
    background-image: url(https://i.pinimg.com/564x/bf/b2/9b/bfb29bff79666c6ef9d865cd77470a9c.jpg);   
    background-attachment: fixed;
    background-size:  cover;
    background-position: center center;          
}

#totalTip {
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
    color: black;
}

#totalTip:before {
    content: "valor da gorjeta por pessoa";
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}

#totalTip sup {
    font-size: 40px;
    top: -18px;
}

#totalTip small {
    font-size: 20px;
    display: block;
}
