body{
    background-image:
      url(https://i.pinimg.com/564x/71/0f/3e/710f3e0a4595420aba3c793e2f753f5c.jpg);
   background-attachment: fixed;
   background-size:cobver;
   background-position: center center;
    }
font-family: 'Rampart One', cursive;
